Repository zcash/halo2, pull requests merged in 2021-12, with the labels that each got.

#422 CI: Benchmark tweaks
  .github/workflows/bench.yml
  Cargo.toml
  benches/plonk.rs
Labels: I-performance, A-CI

#415 improve error message on ColumnNotInPermutation
  src/plonk/error.rs
Labels: A-documentation, A-errors

#416 Change to `Into<Column<Any>>` for pub API methods
  CHANGELOG.md
  benches/plonk.rs
  examples/circuit-layout.rs
  examples/sha256/table16.rs
  examples/simple-example.rs
  examples/two-chip.rs
  src/plonk/circuit.rs
  tests/plonk_api.rs
Labels: A-api

#431 Improve `dev::VerifyFailure::Lookup` information
  CHANGELOG.md
  src/dev.rs
Labels: A-dev-tooling
