Repository zcash/halo2, pull requests merged in 2022-02, with the labels that each got.

#489 CI: Pin nightly version in book workflow
  .github/workflows/book.yml
Labels: A-book, A-CI

#487 Improve the explanation of incomplete addition
  book/src/design/gadgets/ecc/addition.md
Labels: A-book

#505 CI updates
  .github/workflows/ci.yml
Labels: A-CI
