Repository zcash/halo2, pull requests merged in 2022-01, with the labels that each got.

#424 Fix `Assigned<F>` implementation
  proptest-regressions/plonk/assigned.txt
  src/plonk.rs
  src/plonk/assigned.rs
  src/plonk/circuit.rs
Labels: S-committed

#448 [dev] Implement `Assignment::fill_from_row()` for `MockProver`.
  src/dev.rs
Labels: C-bug, A-dev-tooling

#433 dev: Enable `VerifyFailure::ConstraintNotSatisfied` to point to region offsets
  CHANGELOG.md
  src/dev.rs
  src/dev/metadata.rs
Labels: A-dev-tooling, A-errors

#471 Fix handling of short chunks in `poly::Evaluator`
  halo2_proofs/src/poly/evaluator.rs
Labels: C-bug

#472 halo2_proofs: Improve `plonk::verify_proof` API
  halo2_proofs/CHANGELOG.md
  halo2_proofs/benches/plonk.rs
  halo2_proofs/src/plonk/verifier.rs
  halo2_proofs/src/poly/multiopen.rs
  halo2_proofs/src/poly/multiopen/verifier.rs
  halo2_proofs/tests/plonk_api.rs
Labels: A-api
